body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dadada;
}

/* Background image */
.indexBG {
  background-image: url("/image/us_map.png");
  background-size: 100%;
  background-repeat: no-repeat;

}

.pin {
  width: 50px;
  height: 50px;
  background-color: #5e73ea;
  border-radius: 60px 60px 0px 60px;
  position: relative;
  transform: rotate(45deg);
}

.pin::after {
  content: "";
  width: 25px;
  height: 25px;
  background: #ffffff;
  position: absolute;
  left: 26%;
  top: 26%;
  border-radius: 50%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.location .text {
  visibility: hidden;
  background-color: none;
  text-align: center;
  position: relative;

  font-size: 25px;
  font-weight: bold;
}

.location:hover .text {
  visibility: visible;
}

/* New York */
.newYork {
  top: 235px;
  left: 1340px;
}

/* New Jersey */
.newJersey {
  top: 250px;
  left: 1320px;
}

/* Illinois, Naperville */
.illinois {
  top: 270px;
  left: 950px;
}

/* California, Mountain View */
.california {
  top: 380px;
  left: 15px;
}

/* Bouncing animation */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-15%);
  }
}

.location:hover {
  animation: bounce 1s ease infinite;
}